
*{
    margin:0;
    padding:0
}

body{
    margin:0;
    padding:0;
    background:#efefef;
    font-size:16px;
    color:#777;
    font-family:sans-serif;
    font-weight:300;

}

#login-box{
    position:relative;
    margin:5% auto;
    height:800px;
    width:600px;
    background:#fff;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.6);

}

.left-box{
    position:absolute;
    top:0;
    left:0;
    box-sizing:border-box;
    padding:40px;
    width:300px;
    height:600px;
}

h1{
    margin:0 0 20px 0;
    font-weight:300;
    font-size:28px;
}

.left-box .personal_info
{
    display:block;
    margin-bottom:20px;
    font-size:20px;
    color:#1565D8;
    text-align:left;
}


input
{
    display:block;
    box-sizing:border-box;
    margin-bottom:20px;
    padding:4px;
    width:220px;
    height:32px;
    border:none;
    outline:none;
    border-bottom:1px solid #aaa;
    font-family:sans-serif;
    font-weight:400;
    font-size:15px;
    transition:0.2s ease;
}



.right-box{
    position:absolute;
    top:60px;
    right:0;
    box-sizing:border-box;
    padding:40px;
    width:300px;
    height:700px;
    background-size:cover;
    background-postion:center;
}


.right-box .company_info
{
    display:block;
    margin-bottom:20px;
    font-size:20px;
    color:#1565D8;
    text-align:left;
}


.button
{
    top:30px;
    margin-bottom:28px;
    width:120px;
    height:36px;
    float:left;
    position:relative;
    left:25%;
    background:#04C35C;
    border:none;
    border-radius:2px;
    font-family:sans-serif;
    font-weight:500;
    text-transform:uppercase;
    transition:cursor;
}

.mid-box{
    position:absolute;
    top:0;
    left:0;
    box-sizing:border-box;
    padding:40px;
    width:100%;
    height:300px;
}

#password-box{
    position:relative;
    margin:5% auto;
    height:300px;
    width:600px;
    background:#fff;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.6);

}

.button-password
{
    top:30px;
    margin-bottom:28px;
    width:120px;
    height:36px;
    float:left;
    position:relative;
    left:75%;
    background-color:#4CAF50;
    border:none;
    border-radius:2px;
    font-family:sans-serif;
    font-weight:400;
    text-transform:uppercase;
    transition:cursor;
    color: white;
    font-size: 12px;
}

.input-password
{
    display:block;
    box-sizing:border-box;
    margin-bottom:20px;
    padding:4px;
    width:100%;
    height:32px;
    border:none;
    outline:none;
    border-bottom:1px solid #aaa;
    font-family:sans-serif;
    font-weight:400;
    font-size:15px;
    transition:0.2s ease;
}

#email-box{
    position:relative;
    margin:5% auto;
    height:300px;
    width:600px;
    background:#fff;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.6);

}
